* {
    margin: 0px;
    /* font-family: 'Press Start 2P' */
}

nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background:#db042b
}

.header {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background:#db042b;
    text-shadow: 2px 2px 3px black;
    margin-bottom: 10px;
    font-family: 'Press Start 2P';
    font-size: 12px;
}
.navbar-image {
    width: 160px
}

.not-found-text {
    padding: 20px
}
.searchbar-container {
    display: flex;
    margin: 0px auto;
    align-items: center;
}
.searchbar {
    background: white;
    width: 100%;
}
.searchbar input {
    padding: 10px;
    width: 100%;
    border: 2px solid black;
}
.searchbar input:focus {
    outline: none;
}
.searchbar-btn button {
    background-color: #363636;
    border: none;
    border-radius: 3px;
    height: 100%;
    color: white;
    padding: 12px 20px;
    transition: 1s;
}
.searchbar-btn button:hover {
    background-color: black
}



.pagination button {
    background-color:#363636;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    border:none;
    width: 30px;
    height: 30px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.35);
    transition: 1s;
}
.pagination button:hover {
    background-color: black
}

.pokemon-card {
    display: flex;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.40);
    border-radius: 3px;
    transition: 0.5s;
}
.pokemon-card:hover {
    box-shadow: 0px 0px 20px black;
}
.pokemon-img-container {
    padding: 5px
}
.pokemon-img {
    width: 80px;
    height: 80px;
}
.pokemon-type {
    display: flex;
}
.pokemon-type-text {
    margin-right: 10px;
    text-transform: capitalize
}
.pokedex-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
    padding: 0px 10px 20px 10px;
}



.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
}
.card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px
}
.card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px
}
.card-top h3 {
    text-transform: capitalize;
}



.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.loading-img-container {
    text-align: center;
}
.loading-img {
    width: 400px;
    height: 400px;
}



.App {
    font-family: sans-serif;
}

@media screen and (max-width: 500px) {

    .pokedex-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 18px;
        padding: 0px 10px 20px 10px;
    }
    .header {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background:#db042b;
        text-shadow: 2px 2px 3px black;
        margin-bottom: 10px;
        font-family: 'Press Start 2P';
        font-size: 8px;
    }
}

/* text-overflow */